div.hyouka_card
    {
    font-family: "MS PMincho", RyuminL-KL, "MS Mincho", Mincho, serif;
    width: 640px;
    font-size: 10pt;
    text-align: left;

    }

H1 { /* タイトル */
    background-color: #8888ee;
    color: #ffffff;
    border-top: 1px solid #8888f8;
    border-left: 1px solid #8888f8;
    border-right: 1px solid #666699;
    border-bottom: 1px solid #666699;
    padding: 3px 2px 2px 3px;
    font-weight: bold;
    font-family: "MS PGothic", Osaka, "MS Gothic", Gothic, sans-serif;
    font-size: 20pt;
}
H2 { /* 見出し */
    background-color: #e8e8ff;
    color: #000000;
    border-top: 1px solid #ccccff;
    border-left: 1px solid #ccccff;
    border-right: 1px solid #9999aa;
    border-bottom: 1px solid #9999aa;
    margin-top:    0px;
    margin-bottom: 5px;
    padding: 3px 2px 2px 3px;
    font-family: "MS PGothic", Osaka, "MS Gothic", Gothic, sans-serif;
    font-size: 10pt;
   }

table.1-1
    {
    color: #FFFFFF;
    background-color: #FF9900;
    font-family: "MS PMincho", RyuminL-KL, "MS Mincho", Mincho, serif;
    font-size: 10pt;
    padding: 1px 1px 1px 1px;
    margin-top:    5px;
    margin-left:   5px;
    margin-right:  5px;
    margin-bottom: 5px;
    }

table.1-2
    {
    color: #FFFFFF;
    background-color: #FF9900;
    font-family: "MS PMincho", RyuminL-KL, "MS Mincho", Mincho, serif;
    font-size: 10pt;
    padding: 1px 1px 1px 1px;
    margin-top:    5px;
    margin-left:   5px;
    margin-right:  5px;
    margin-bottom: 5px;
    }

table.2
    {
    color: #ffffff;
    background-color: #ffffff;
	border-collapse: collapse;
    border: 1px solid black;
	font-family: "MS PMincho", RyuminL-KL, "MS Mincho", Mincho, serif;
    font-size: 9pt;
    padding: 1px 1px 1px 1px;
    margin-top:    5px;
    margin-left:   5px;
    margin-right:  5px;
    margin-bottom: 5px;
    }

table.2 th, table.2 td {
   border-style: solid ;
   border-width: 1px;
   border-color: black;
}

td
   {
   color: #000000; background-color: #FFFFFF;

   }
.photo
    {
    width: 300px;
    }

.fig
    {
    width: 300px;
    border-width: 0;
    }

.chapter
    {
    background-color: #ffffff;
    border-top: 0px solid #ccccff;
    border-left: 0px solid #ccccff;
    border-right: 0px solid #9999aa;
    border-bottom: 0px solid #9999aa;
    margin-bottom: 2px;
    padding: 0px 0px 0px 0px;
    }

ul
    { /* �ｽ�ｽ�ｽo�ｽ�ｽ */
    margin-top: 1px;
    margin-left: 15px;
    margin-bottom: 5px;
    }

div.text
    {
    margin-left: 15px;
    line-height:130�ｽ�ｽ;
    }

div.to_details
    {
    display: none;
    text-align: right;
    }

p.foot
    {
    text-align: right;
    color: gray;
    }

p.totop
    {
    display: none;
    }

.wamei
 {
  font-family       :"MS Mincho";
  font-size         :12pt;
  }
.gakumei
  {
  font-family       :'TimesNewRoman';
  font-style        :italic;
  font-size         :12pt;
  }

.keigun
 {
  font-family       :"MS Mincho";
  font-size         :12pt;
  }

.tantou
 {
  font-family       :"MS Mincho";
  font-size         :12pt;
  }

.tokusei
 {
  font-family       :"MS Mincho";
  font-size         :10pt;
  }


.abc
  {
    font-family: "MS PMincho", RyuminL-KL, "MS Mincho", Mincho, serif;
    font-size: 9pt;
    width: 80px
    padding: 1px 1px 1px 1px;
    margin-top:    5px;
    margin-left:   5px;
    margin-right:  5px;
    margin-bottom: 5px;
  }

div.rireki
   {
    display: none;

  }

.a
   {
   width: 120px
   }
.b
   {
   width: 70px
   }
.c
   {
   width: 180px
   }

.d
   {
   width: 90px

.e
   {
   width: 50px
   }
.f
   {
   width: 200px
   }
