div.hyouka_card
    {
    width : 800px;
    font-family: "MS PGothic", Osaka, "MS Gothic", Gothic, sans-serif;
    font-size: 12pt;
    text-align: left;
    line-height:140�ｽ�ｽ;
    }

H1 { /* タイトル */
    background-color: #8888ee;
    color: #ffffff;
    border-top: 1px solid #8888f8;
    border-left: 1px solid #8888f8;
    border-right: 1px solid #666699;
    border-bottom: 1px solid #666699;
    padding: 3px 2px 2px 3px;
    font-weight: bold;
    font-family: "MS PGothic", Osaka, "MS Gothic", Gothic, sans-serif;
    font-size: 24pt;
    font-style : italic;
}
H2 { /* 見出し */
    background-color: #e8e8ff;
    color: #000000;
    border-top: 1px solid #ccccff;
    border-left: 1px solid #ccccff;
    border-right: 1px solid #9999aa;
    border-bottom: 1px solid #9999aa;
    margin-top:    0px;
    margin-bottom: 5px;
    padding: 3px 2px 2px 3px;
    font-weight: bold;
    font-family: "MS PGothic", Osaka, "MS Gothic", Gothic, sans-serif;
    font-size: 18pt;
    font-style : italic;
   }
H3 { /* 見出し */
    background-color: #e8e8ff;
    color: #000000;
    border-top: 1px solid #ccccff;
    border-left: 1px solid #ccccff;
    border-right: 1px solid #9999aa;
    border-bottom: 1px solid #9999aa;
    margin-top:    0px;
    margin-bottom: 5px;
    padding: 3px 2px 2px 3px;
    font-weight: bold;
    font-family: "MS PGothic", Osaka, "MS Gothic", Gothic, sans-serif;
    font-size: 18pt;
   }
H4 { /* 見出し */
    background-color: #90EE90;
    color: #000000;
    border-top: 1px solid #ccccff;
    border-left: 1px solid #ccccff;
    border-right: 1px solid #9999aa;
    border-bottom: 1px solid #9999aa;
    margin-top:    0px;
    margin-bottom: 5px;
    padding: 3px 2px 2px 3px;
    font-weight: bold;
    font-family: "MS PMincho", RyuminL-KL, "MS Mincho", Mincho, serif;
    font-size: 18pt;
	width: 770px;
   }

table.1-1
    {
    color: #000000;
    background-color: #ffffff;
    font-family: "MS PGothic", Osaka, "MS Gothic", Gothic;
    font-size: 12pt;
    padding: 1px 1px 1px 1px;
    margin-top:    5px;
    margin-left:   5px;
    margin-right:  5px;
    margin-bottom: 5px;
    }


table.1-2
    {
    color: #FFFFFF;
    background-color: #efffff;
    font-family: "MS PGothic", Osaka, "MS Gothic", Gothic;
    font-size: 12pt;
    padding: 1px 1px 1px 1px;
    margin-top:    5px;
    margin-left:   5px;
    margin-right:  5px;
    margin-bottom: 5px;
    }

table.2
    {
    background-color: #efffff;
    font-family: "MS PGothic", Osaka, "MS Gothic", Gothic;
    font-size: 12pt;
    padding: 5px 5px 5px 5px;
    margin-top:    5px;
    margin-left:   5px;
    margin-right:  5px;
    margin-bottom: 5px;
    }



td
  {
  color:#000000;
  }

.photo
    {
    width: 300px;
    }

.fig
    {
    width: 300px;
    border-width: 2px;
    }

.chapter
    {
    background-color: #efffff;
    border-top: 1px solid #ccccff;
    border-left: 1px solid #ccccff;
    border-right: 1px solid #9999aa;
    border-bottom: 1px solid #9999aa;
    margin-bottom: 10px;
    padding: 0px 0px 0px 0px;
    }

ul
    {
    margin-top: 1px;
    margin-left: 15px;
    margin-bottom: 5px;
    }
ol
    {
    margin-top: 1px;
    margin-bottom: 5px;
    }

div.text
    {
    margin-left: 15px;
    }

div.to_details
    {
    display: none;
    text-align: right;
    }

p.foot
    {
    text-align: right;
    color: gray;
    }


p.totop
    {
    text-align: right;
    }

.gakumei
  {
  font-family       :'TimesNewRoman';
  font-style        :italic;
  font-size         :12pt;
  }

.abc
  {
    font-family: "MS PGothic", Osaka, "MS Gothic", Gothic;
    font-size: 12pt;
    padding: 1px 1px 1px 1px;
    margin-top:    5px;
    margin-left:   5px;
    margin-right:  5px;
    margin-bottom: 5px;
  }


.rireki
  {
    font-family: "MS PGothic", Osaka, "MS Gothic", Gothic;
    font-size: 12pt;
    padding: 1px 1px 1px 1px;
    margin-top:    5px;
    margin-left:   5px;
    margin-right:  5px;
    margin-bottom: 5px;
  }

div.rireki
   {
display: none;
   }


 .a
   {
   background-color: #ffffff;
   text-align: center;
   }

 .b
   {
   background-color: #ffffff;
   text-align: center;
   }

 .c
   {
   background-color: #ffffff;
   text-align: center;
   }

.d
   {
   background-color: #ffffff;
   text-align: center;
   }

.e
   {
   background-color: #ffffff;
   text-align: center;
   }
.f
   {
   background-color: #ffffff;
   text-align: center;
   }

 .r
   {
   text-align: right;
   }



 p#breadcrumbs_navi
	{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
	text-align: right;
	}
